@import "tailwindcss";

@source "../**/*.{ts,tsx,mdx}";
@source "../../../../packages/**/src/**/*.{ts,tsx,mdx}";

@import "../../../../packages/ui/src/theme.css";

@layer base {
  :root {
    --background: #ffffff;
  }

  .dark {
    --background: #000000;
  }

  html,
  body {
    @apply min-h-[100dvh] bg-background;
  }
}
